.rating {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  .star {
    font-size: 30px;
    color: #e3e3e3;
    transition: color 0.3s ease;
  }

  .star.filled {
    color: #ff6060;
  }
}

@media (max-width: 700px) {
  .rating {
    gap: 2px;
    .star {
      font-size: 25px;
    }
  }
}